name: pre-commit

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cvmfs-contrib/github-action-cvmfs@v2
    - uses: aidasoft/run-lcg-view@v3
      with:
        release-platform: LCG_101/x86_64-centos7-clang12-opt
        run: |
          export PYTHONPATH=$(python -m site --user-site):$PYTHONPATH
          export PATH=/root/.local/bin:$PATH
          pip install --upgrade --user pip
          pip install argparse --user
          pip install pre-commit --user
          pre-commit run --show-diff-on-failure \
            --color=always \
            --all-files
